doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/stylesheets/materialize.css')
        link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
        link(href="stylesheets/materialize.css" type="text/stylesheets" rel="stylesheet" media="screen,projection")
        link(href="stylesheets/style.css" type="text/stylesheets" rel="stylesheet" media="screen,projection")
        script(src="https://code.jquery.com/jquery-2.1.1.min.js")
        script(src='/javascript/diagABC.js')
        script(src='/javascript/materialize.js')

    body
        block content

