extends pronostico_layout
block content
    div(class="row container")
        div(class="row col s12 card-panel blue lighten-3" ).panel-heading.center
            h1(class="black-text text-darken-2") PRONOSTICO
    div.center-align
        form(action="/menu")
            input(type="submit" class="btn waves-effect waves-light" value="REGRESAR AL MENU")